{% block _Commande_orders %}


{% set total = 0 %}
{% for order in field.value %}
    {% set interval = field.value.owner.dateFin.diff(field.value.owner.dateDeb)|date("%D") %}
    {% if interval==0 %}
        {% set interval = interval+1 %}
    {% endif %}
	{{ order.chambre.titre }} / Qté : {{ order.quantite }}<hr class="m-0 p-0 text-white">
    {% set total = interval * (total + order.chambre.prix * order.quantite) %}

{% endfor %}
    <hr class="m-0 p-0">
    <p class="fw-bold">Total : {{ total }}€</p>
{% endblock %}